@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <a asp-controller="Men" asp-action="List" class="btn btn-primary">Men</a>
    <a asp-controller="Women" asp-action="List" class="btn btn-primary">Women</a>
    <a asp-controller="Partners" asp-action="List" class="btn btn-primary">Couples</a>
</div>
