@model IEnumerable<PartnersRowModel>

<h1>Couples List</h1>

<div class="text-right">
    <a asp-controller="Partners" asp-action="Edit" class="btn btn-primary">New Couple</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back To Home</a>
</div> 

<table class="table">
    <thead>
        <tr>
            <th>ManName</th>
            <th>WomanName</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Count() > 0)
        {
            @foreach(var m in Model)
            {
                <tr>
                    <td>@m.ManName</td>
                    <td>@m.WomanName</td>
                    <td><a asp-controller="Partners"
                            asp-action="Edit"
                            asp-route-id="@m.Id"
                            class="text-primary">Edit</a></td>
                    <td><a asp-controller="Partners"
                            asp-action="Delete"
                            asp-route-id="@m.Id"
                            class="text-danger">Delete</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No Couples here</td>
            </tr>
        }
    </tbody>
</table>